.w-container {
  display: flex;
  max-width: 100%;
  margin: 100px 100px 60px 100px;
  font-family: "Jost", sans-serif;
  gap: 40px;
  flex-direction: column;
  align-items: center;
}

.w-title {
  color: black;
  font-size: 49px;
  span {
    // color: black;
    font-weight: 600;
    font-size: 49px;
    color: var(--blue);
  }
}

.w-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: center;
}

.w-card {
  width: 350px;
  height: 150px;
  background: #ffffff;
  box-shadow: 0px 3px 9px rgba(77, 186, 190, 0.28);
  border-radius: 17px;
  display: flex;
  transition: transform 0.3s;
  flex-direction: column;
  gap: 5px;
  padding: 11px;

  .card-title {
    font-style: normal;
    font-weight: 500;
    font-size: 1.9rem;
    line-height: 165.52%;
  }

  .card-line {
    width: 190px;
    height: 3px;
    background: var(--blue);
  }

  .card-company {
    font-weight: 300;
    font-size: 1.3rem;
    line-height: 165.52%;
  }

  .card-date {
    font-weight: 200;
    font-size: 0.9rem;
    font-weight: 300;
    line-height: 165.52%;
  }
}

.w-card:hover {
  transform: scale(1.03);

  .card-line {
    width: 250px;
    transition: 1s;
  }
}

.isSelected {
  background: linear-gradient(180deg, #009398 0%, #4dbabe 100%);
  * {
    color: #ffffff;
  }

  .card-line {
    background: #ffffff;
  }
}

.w-card-out {
  // border: 2px solid black;
  // border-radius: 27px;
  // padding: 15px;
}

.w-desc-container {
  background: #ffffff;
  box-shadow: 0px 3px 21px rgba(77, 186, 190, 0.28);
  border-radius: 17px;
  padding: 20px;
  max-width: 800px;
  margin: auto;
  max-height: 100%;
  transition: max-height 3s ease-out;

  .w-desc {
    line-height: 2;
  }
}

.w-desc-title-container {
  background: linear-gradient(180deg, #009398 0%, #4dbabe 100%);
  padding: 10px;
  border-radius: 10px;
  color: #ffffff;
  margin-bottom: 10px;

  .w-desc-title {
    font-size: 20px;
  }
}

@media screen and (max-width: 579px) {
  .w-container {
    margin: 100px 21px 50px 21px;
  }
  .w-content {
    flex-direction: column;
  }

  .w-title {
    font-size: 37px;
  }

  .w-card {
    width: 288px;

    .card-title {
      font-size: 27.43px;
    }
  }
}

@media screen and (min-width: 580px) and (max-width: 1446px) {
  .w-container {
    margin: 100px 30px;
  }
}
